development:
    dialect: postgres
    datasource: user=postgres dbname=tracker sslmode=disable host=localhost password=nevermind
    dir: postgres

test:
    dialect: postgres
    datasource: user=postgres dbname=tracker_test sslmode=disable host=localhost password=nevermind
    dir: postgres
