<div>
    <form ng-submit="saveItem(item)" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="item.name" class="form-control"/>
            </div>
        </div>

        <div class="pull-right">
            <button class="btn btn-sm btn-info" ng-show="item.id" type="button" ng-click="testWorkflow()" >Test Workflow</button>
        </div>
        <div class="pull-left">
            <crud-Buttons></crud-Buttons>
        </div>
    </form>
</div>

<div ng-show="item.id">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <p ng-show="currentStatus">
                    <span class="small">{{currentStatus.name}}: {{currentStatus.description}}</span>
                </p>
                <button class="btn btn-sm btn-warning" type="button" ng-repeat="s in testStatuses" ng-click="testWorkflow(s.nextStatus)" title="{{s.nextStatus.description}}" >
                    {{s.name}}
                </button>
            </div>
        </div>
    </div>

    <hr/>

    <table class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
            <th>Step</th>
            <th>Prev Step</th>
            <th>Next Step</th>
            <th>Resolves Issue</th>
            <th>Cancels Issue</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in steps" ng-click="editStep(s)">
            <td>{{s.name}}</td>
            <td>{{s.prevStatus.name}}</td>
            <td>{{s.nextStatus.name}}</td>
            <td>{{s.resolves | boolToText}}</td>
            <td>{{s.cancels | boolToText}}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-sm btn-info" ng-click="addStep()">
        <i class="fa fa-plus"></i>
        <span> Add Step</span>
    </button>

    <hr/>

    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in statuses" ng-click="editStatus(s)">
                <td>{{s.name}}</td>
                <td>{{s.description}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-sm btn-info" ng-click="addStatus()">
        <i class="fa fa-plus"></i>
        <span> Add Status</span>
    </button>
</div>

<div id="statusDialog" class="modal fade">
    <div class="modal-dialog large">
        <div class="modal-content">
            <form ng-submit="saveStatus(selectedStatus)" class="form-horizontal">
                <div class="modal-header">
                    <h4>Edit Status - {{selectedStatus.name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-2">Name</label>
                        <div class="col-lg-6">
                            <input type="text" ng-model="selectedStatus.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Description</label>
                        <div class="col-lg-6">
                            <input type="text" ng-model="selectedStatus.description" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success"><span> Save</span></button>
                    <button type="button" ng-click="removeStatus(selectedStatus)" ng-show="selectedStatus.id" class="btn btn-sm btn-danger"><span> Remove</span></button>
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary"><span> Close</span></button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="stepDialog" class="modal fade">
    <div class="modal-dialog large">
        <div class="modal-content">
            <form ng-submit="saveStep(selectedStep)" class="form-horizontal">
                <div class="modal-header">
                    <h4>Edit Step - {{selectedStep.name}}</h4>
                </div>
                <div class="modal-body">
                    <tabset>
                        <tab heading="Step">
                            <div class="form-group">
                                <label class="col-lg-2">Name</label>
                                <div class="col-lg-6">
                                    <input type="text" ng-model="selectedStep.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2">Prev Step</label>
                                <div class="col-lg-8">
                                    <select ng-model="selectedStep.prevStatus.id" ng-options="i.id as i.name for i in statuses" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2">Next Stp</label>
                                <div class="col-lg-8">
                                    <select ng-model="selectedStep.nextStatus.id" ng-options="i.id as i.name for i in statuses" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    <input type="checkbox" ng-model="selectedStep.resolves" />
                                    Resolves Issue
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    <input type="checkbox" ng-model="selectedStep.cancels" />
                                    Cancels Issue
                                </label>
                            </div>
                        </tab>
                        <tab heading="Groups">
                            <h5>Select the groups that can execute this step</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="list-group scroll-when-needed">
                                        <a href="#" class="list-group-item active">Availables</a>
                                        <a ng-repeat="u in meta.group.unselected" ng-click="addMember(u)" class="list-group-item animation">
                                            <span>{{u.name}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="list-group scroll-when-needed">
                                        <a href="#" class="list-group-item active">Selected</a>
                                        <a ng-repeat="u in meta.group.selected" ng-click="removeMember(u)" class="list-group-item animation">
                                            <span>{{u.name}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Users">
                            <h5>Select the users who can execute this step</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="list-group scroll-when-needed">
                                        <a href="#" class="list-group-item active">Availables</a>
                                        <a ng-repeat="u in meta.user.unselected" ng-click="addMember(u)" class="list-group-item animation">
                                            <span>{{u.name}} {{u.lastName}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="list-group scroll-when-needed">
                                        <a href="#" class="list-group-item active">Selected</a>
                                        <a ng-repeat="u in meta.user.selected" ng-click="removeMember(u)" class="list-group-item animation">
                                            <span>{{u.name}} {{u.lastName}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success">Save</span></button>
                    <button type="button" ng-click="removeStep(selectedStep)" ng-show="selectedStep.id" class="btn btn-sm btn-danger">Remove</button>
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>