<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Project</th>
                <th>Name</th>
                <th>Assignee</th>
                <th>Reporter</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in items">
                <td>
                    <a ng-href="{{resolveUrl(s)}}">{{s.pkey}}</a>
                </td>
                <td>{{s.project}}</td>
                <td>
                    <a ng-href="{{resolveUrl(s)}}">{{s.name}}</a>
                </td>
                <td>{{s.assignee}}</td>
                <td>{{s.reporter}}</td>
                <td>{{s.priority}}</td>
                <td>{{s.status}}</td>
                <td>{{s.dueDate | dateFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>