<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Proyecto</th>
                <th>Nombre</th>
                <th>Asignado a</th>
                <th>Responsable</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Creado</th>
                <th>Ultimo Cambio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in items">
                <td>
                    <a ng-href="{{resolveUrl(s)}}">{{s.pkey}}</a>
                </td>
                <td>{{s.project}}</td>
                <td>
                    <a ng-href="{{resolveUrl(s)}}">{{s.name}}</a>
                </td>
                <td>{{s.assignee}}</td>
                <td>{{s.reporter}}</td>
                <td>{{s.priority}}</td>
                <td>{{s.status}}</td>
                <td>{{s.dueDate | dateFormat}}</td>
                <td>{{s.dateCreated | dateFormat}}</td>
                <td>{{s.lastModified | dateFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>