{
	"environment":"development",
	"baseUrl":"http://localhost",
	"baseApiName":"api",
	"PostgresDb": {
		"host":"localhost",
		"databaseName": "tracker",
		"userName": "postgres",
		"password":"nevermind"
	}
}
